<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
    
      <div class="input-group-append">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <h4>Get all Product</h4>
    
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Código Equipo
              
            <th scope="col">Nombre Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr 
          *ngFor="let val of ProductDto; let i = index">
          
            <th scope="row">{{val.teamCode  }} </th>
            <td> {{val.teamName}} </td>
            <!-- <td>{{val.price  | currency}} </td>
            <td>{{val.val.teamCode   }} </td>
            <td>{{val.minimunAlloweb}} </td> -->
          </tr>
         
        </tbody>
      </table>
  </div>

</div>
