<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
    
      <div class="input-group-append">
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <!-- <p>
      <select name="miselect" [(ngModel)]="lista">
      <option [value]="item" *ngFor="let item of lista">{{item}}</option>
      </select>
      </p> -->

    <h4>Get all Team</h4>
    
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Código Equipo
              
            <th scope="col">Nombre Equipo</th>
          </tr>
        </thead>
        <tbody>
          <tr 
          *ngFor="let team of listSoccerTeam; let i = index">
          
            <th scope="row">{{team.teamCode  }} </th>
            <td> {{team.teamName}} </td>
          </tr>
         
        </tbody>
      </table>
  </div>

</div>
